<ion-view view-title="เข้าสู่ระบบ">
  <ion-content>
    <br />
    <br />
    <p>
      <h1 class="text-center">LOGO BAND</h1>
    </p>
    <h3 class="text-center">DESCRIPTION</h3>
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col col-75">
        <paper-material elevation="5">
          <div class="row">
            <div class="col">
              <paper-card>
                <div class="card-content">
                  <paper-input label="USERNAME">
                    <paper-icon-button suffix icon="social:person"></paper-icon-button>
                  </paper-input>
                  <paper-input-container>
                    <label>PASSWORD</label>
                    <input is="iron-input" type="password">
                    <paper-icon-button suffix icon="clear" class="text-warn"></paper-icon-button>
                  </paper-input-container>
                </div>
              </paper-card>
              <br />
              <paper-button raised class="primary po-rt-200">เข้าสู่ระบบ</paper-button>
            </div>
          </div>
        </paper-material>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
