<ion-view view-title="Playlist">
  <ion-content>
    <br />
    <br />
    <h1>NJPOS</h1>
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <paper-material elevation="5">
          <div class="row">
            <div class="col">
              <paper-card>
                <div class="card-content">
                  <paper-input label="Input label"></paper-input>
                </div>
              </paper-card>
              <paper-card>
                <div class="card-content">
                  <paper-input label="Input label"></paper-input>
                </div>
              </paper-card>
              <br />
              <paper-button raised class="primary">button</paper-button>
            </div>
          </div>
        </paper-material>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
