<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
    <paper-button raised class="primary" ng-click="addtatol(txttatol)">เพิ่ม</paper-button>
    <paper-input label="testt" ng-model="txttatol"></paper-input>
    <paper-button raised class="error" ng-click="minustatol(txttatol)">ลบ</paper-button>
    <p>
      <span>tatol:{{txttatolx}}</span>
    </p>
    <paper-button class="info">Flat button</paper-button>
    <paper-button raised class="success">Raised button</paper-button>
    <paper-button noink class="success">No ripple effect</paper-button>
    <paper-button toggles class="success">Toggle-able button</paper-button>
    <paper-button raised class="warn">
      <iron-icon icon="favorite"></iron-icon>
      custom button content
    </paper-button>
  </ion-content>
</ion-view>
